
#transfer {

	.ui-select span {

		text-align: left;

		#transfer_3 {

			text-align: center;

			li {
				border-bottom: 1px solid rgb(226, 226, 226);
				padding-top: 5px;
				padding-bottom: 5px;
			}	

			table {
				margin-bottom: 20px;
			}
		}


	}

}
